<!doctype html>
<html>

<head>
  <title>Timeliness</title>
  {{> common/head}}
</head>

<body ng-app="app">

	
  
  <ui-view class="full-sized"></ui-view>
  
  <script src="/js/angular-1.6.4.min.js"></script>
  <script src="/js/angular-resource-1.6.4.min.js"></script>
  <script src="/js/angular-ui-router-1.0.3.min.js"></script>
  <script src="/app/app.module.js"></script>
  <script src="/app/app.config.js"></script>
  
  <script src="/app/registration-cta/registration-cta.component.js"></script>

  <script src="/app/login-card/login-card.component.js"></script>
  <script src="/app/login-page/login-page.component.js"></script>
  <script src="/app/sign-up-card/sign-up-card.component.js"></script>
  <script src="/app/main-screen/main-screen.component.js"></script>
	
</body>

</html>
